<h2>Painel administrativo</h2>
<ul class="list-group">
  <li class="list-group-item">
    <a href="/admin/categorias">Lista de Categorias</a>
  </li>
    <li class="list-group-item">
    <a href="/admin/categorias/add">Cadastrar Categorias</a>
  </li>
  <li class="list-group-item">
    <a href="/admin/postagens">Lista de Postagens</a>
  </li>
  <li class="list-group-item">
    <a href="/admin/postagens/add">Cadastrar Postagens</a>
  </li>
</ul>