  <div class="card mt-3">
      <div class="card-body">
          <h4>{{postagem.titulo}}</h4>
          <hr>
            <small>Criação: {{postagem.data}}</small><br>
          <hr>
          <p style="text-align: justify;">
            {{postagem.conteudo}}
          </p>
          <hr>
          <small class="badge badge-secondary">{{postagem.slug}}</small>  <br>
      </div>
  </div>  